:root {
  --bg-primary: #00985b;
  --bg-secondary: #00492c;
}
body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  background-color: aliceblue;
  color: #fff !important;
}
#hero {
  background-image: linear-gradient(
    to right,
    var(--bg-primary),
    var(--bg-secondary) 80%
  );
  height: 100vh;
  position: relative;
  overflow-y: hidden;
}
#hero .bg-1{
  background-image: url('../Assets/img/Hero\ Image.png');
  /* background-color: #000; */
  background-repeat: no-repeat;
  background-size: 55%;
  background-position: right bottom;
  top: 0%;
  width: 100%;
  height: 100vh;
  position: absolute;
}
#hero button,
#hero input[type="submit"] {
  font-weight: 500;
}
#hero .content h1 {
  font-weight: 700;
  font-size: 3rem;
}
#hero .content p {
  font-weight: 400;
  font-size: .9rem;
}
#hero .content a {
  font-weight: 700;
  font-size: .9rem;
  color: var(--bg-secondary);
}

#layanan h2,
#fitur h2,
#rekomendasi h2 {
  font-weight: 700;
  font-size: 2.5rem;
  color: var(--bg-primary);
}
#layanan p {
  color: #000;
}
#layanan .row h5 {
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--bg-primary);
}
#layanan .row p {
  font-size: .7rem;
}
#layanan .card {
  background-color: #fff;
  transition: all .5s ease-in-out;
}
#layanan .card {
  max-height: 250px;
}
#layanan .card:hover {
  /* background: linear-gradient(to right bottom, var(--bg-primary), var(--bg-secondary)); */
  background-color: var(--bg-primary);
  opacity: 1;
}
#layanan .card:hover img{
  transition: all .5s;
  background-color: #fff !important;
}
#layanan .card:hover h5,
#layanan .card:hover p {
  transition: all .5s;
  color: #fff;
}

#main {
  background-image: url("../Assets/img/Img-search.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}
#main h2 {
  font-weight: 700;
  font-size: 2.3rem;
}
#main p {
  font-weight: 400;
  width: 60%;
  margin: auto;
}
#main .row ul {
  background-color: rgba(255, 255, 255, .5);
  width: 30%;
}
#main .row ul li a {
  color: #000;
}
#main nav {
  background-color: rgba(255, 255, 255, .8);
}
#main nav a {
  color: var(--bg-primary);
}

#rekomedasi {
  height: 100vh;
}
#rekomendasi .card {
  transition: all .3s;
}
#rekomendasi .card .row small {
  font-size: .8rem;
}
#rekomendasi .card:hover {
  /* background-image: linear-gradient(to right bottom, var(--bg-primary), var(--bg-secondary)); */
  background-color: var(--bg-secondary);
}
#rekomendasi .card:hover h5, 
#rekomendasi .card:hover p {
  color: #fff;
  transition: all .3s;
}

#fitur .row .card-fitur {
  background-repeat: no-repeat; 
  background-size: cover;
  width: 30%;
  height: 30rem;
}
#fitur .row .card-fitur .overlay {
  opacity: 0;
  background-color: rgba(0, 0, 0, .5);
  transition: all 1s ease;
}
#fitur .row .card-fitur:hover .overlay {
  opacity: 1;
}
#fitur .row .card-1 {
  background-image: url("../Assets/img/Fitur\ Rumah\ 1.png");
}
#fitur .row .card-2 {
  background-image: url("../Assets/img/Fitur\ Rumah\ 2.png");
}
#fitur .row .card-3 {
  background-image: url("../Assets/img/Fitur\ Rumah\ 3.png");
}

#contacts {
  background-image: url("../Assets/img/kontak-img.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  overflow: hidden;
}

#contacts .container-fluid{
  background-color: rgba(0, 0, 0, .5);
  height: 100vh;
}
#contacts .row h2 {
  line-height: 45px;
  letter-spacing: 1.5px;
  font-size: 2.3rem;
}
#contacts .row h5 {
  font-size: 1rem;
}
#contacts .row li {
  font-size: .8rem;
}
#contacts .row form input {
  background: #DDE6ED;
  border: none;
  box-shadow: none;
}

footer .row a {
  font-size: .9rem;
}

footer span {
  font-size: .7rem;
}